
/* General --------------------------------------------------------------------------- */
body {
  min-height: 100vh;
  background-color: white;
}

.contenido {
  max-width: 880px;
  width: 100;
  margin: 100px auto;
}

.background {
  z-index: -1;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
  background-image: url("/static/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



/* Menu ------------------------------------------------------------------------------ */
.menu {
  display: flex;
  justify-content: center;
}

.menu .menu-item {
  margin: 16px;
  padding: 8px 32px;
  border-top: 2.5px solid #b7b7b7;
  border-bottom: 2.5px solid #b7b7b7;
  color: #ab1b1b;
  font-style: italic;
}
.menu .menu-item:hover{
  text-decoration: none;
  border-color: black;
  color: black;
  transition: all 0.3s;
}


/* Chef List ------------------------------------------------------------------------- */
.chef-list h1 {
  text-align: center;
  color: black;
  font-size: 28px;
}
.chefs {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.chef-fill {
  width: 200px;
  height: 0;
}
.chef-card {
  width: 200px;
}
.chef-card .chef-image {
  background-size: cover;
  background-position: 50% 50%;
  height: 200px;
}
.chef-card .chef-info {
  background-color: white;
  text-align: center;
  height: 102px;
  padding: 12px;
}
